<a href="https://colab.research.google.com/github/michelle2526/dio--desafio-github-primeiro-rep-sitorio/blob/main/CURSO_BASICP_PTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**PASSO A PASSO DE SOLUÇÃO E DESAFIO**

In [68]:
# logica de programação

# passo 0 - entender o dasafio que você quer resolver

# passo 1 - percorrer todos os arquivos da pasta base da dados (pasta vendas
import os
import pandas as pd


lista_arquivo = os.listdir("/content/drive/MyDrive/Curso Básico de Python/Vendas")
display(lista_arquivo)

['Vendas - Fortaleza.csv',
 'Vendas - Goiás.csv',
 'Vendas - São Paulo.csv',
 'Vendas - Belo Horizonte.csv',
 'Devolucoes - Rio de Janeiro.csv',
 'Devolucoes - Salvador.csv',
 'Devolucoes - Fortaleza.csv',
 'Devolucoes - Goiás.csv',
 'Vendas - Salvador.csv',
 'Vendas - Rio de Janeiro.csv',
 'Devolucoes - São Paulo.csv',
 'Devolucoes - Porto Alegre.csv',
 'Devolucoes - Belo Horizonte.csv',
 'Vendas - Recife.csv',
 'Vendas - Porto Alegre.csv',
 'Vendas - Curitiba.csv',
 'Devolucoes - Recife.csv',
 'Devolucoes - Curitiba.csv']

In [83]:
tabela_total = pd.DataFrame()

# passo 2 - importar as bases de dados de vendas

for arquivo in lista_arquivo:
  # se tem "vendas" no nome do arquivo,então 

  if "Vendas" in arquivo:
    #importar o arquivo
   tabela = pd.read_csv(f"/content/drive/MyDrive/Curso Básico de Python/Vendas/{arquivo}")
  tabela_total = tabela_total.append(tabela)

# passo 3 - tratar /compilar as bases de dados
display(tabela_total)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,2,HL1148,Câmera,2,Camila,Sobral,10/21/2018,Fortaleza,2100,NaN
1,3,HL1918,iPhone,3,Clara,Bruno,7/8/2018,Fortaleza,5300,NaN
2,4,HL9962,Android,4,Eduardo,Pacheco,12/19/2018,Fortaleza,3400,NaN
3,11,HL1918,iPhone,2,Rafael,Rocha,12/22/2018,Fortaleza,5300,NaN
4,15,HL2714,Tablet,2,Caio,Ferreira,7/26/2018,Fortaleza,1600,NaN
...,...,...,...,...,...,...,...,...,...,...
714,9859,HL2714,Tablet,1,Júlio,Fraga,12/25/2018,Curitiba,1600,NaN
715,9876,HL4379,Televisão,5,Bruno,Mota,4/30/2018,Curitiba,2500,NaN
716,9918,HL1148,Câmera,2,Lucas,Reis,12/27/2018,Curitiba,2100,NaN
717,9944,HL1918,iPhone,5,Raphael,Kurtz,7/16/2018,Curitiba,5300,NaN
718,9998,HL7348,SmartWatch,1,Vinícius,Antunes,12/10/2018,Curitiba,1400,NaN

In [88]:
# passo 4 - calcular o produto mais vendido (em quantidade)

tabela_produtos = tabela_total.groupby('Produto').sum()
tabela_produtos = tabela_produtos[["Quantidade Vendida"]].sort_values(by="Quantidade Vendida", ascending=False)
display(tabela_produtos)

            Quantidade Vendida
Produto
iPhone                   16896
Televisão                10761
Android                   5951
Notebook                  5899
SmartWatch                5364
Tablet                    5234
Câmera                    5119

In [92]:
# passo 5 -calcular o produto qqque mais faturou ( em faturamento)
tabela_total['Faturamento'] = tabela_total['Quantidade Vendida'] * tabela_total['Preco Unitario']
tabela_faturamento = tabela_total.groupby('Produto').sum()
tabela_faturamento = tabela_faturamento[["Faturamento"]].sort_values(by="Faturamento", ascending=False)
display(tabela_faturamento)

            Faturamento
Produto
iPhone         89548800
Televisão      26902500
Notebook       20646500
Android        20233400
Câmera         10749900
Tablet          8374400
SmartWatch      7509600

            Faturamento
Produto
iPhone         89548800
Televisão      26902500
Notebook       20646500
Android        20233400
Câmera         10749900
Tablet          8374400
SmartWatch      7509600

In [94]:
# passo 6 -calcular a loja/cidade que mais vendeu ( em faturamento)- criar um grafico/dashboard
tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['Faturamento']]
display(tabela_lojas)

                Faturamento
Loja
Belo Horizonte     32401500
Curitiba           21181500
Fortaleza          14087900
Goiás               7441800
Porto Alegre        6868600
Recife              7303000
Rio de Janeiro     59471200
Salvador           13111300
São Paulo          22098300

In [95]:
import plotly.express as px

grafico = px.bar(tabela_lojas, x=tabela_lojas.index, y='Faturamento')
grafico.show()